

<div class="slideshow-container" *ngIf="!openVerify && !servicesOpened" uk-slideshow="animation: fade; min-height: 490; max-height: 490; autoplay: true; autoplay-interval: 1500; pause-on-hover: false;" >

    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
    
        <ul class="uk-slideshow-items" >
            
          <li class="list-wrapper">
        
            <div class="uk-position-center uk-position-small uk-text-center uk-light">
                <div class="vector">
                    <img class="icon" style="padding: 39px;
                    margin-top: -80px;
                    margin-bottom: 50px;
                    width: 260px;
                    " src="assets/images/daily_prize.jpg" alt=""/>
                  </div>
                  <div uk-slideshow-parallax="x: 100,0,0" class="current-prize-fond">
                    <span style="font-weight: bold; font-size: 18px; color: rgb(0, 0, 0); line-height: 0px;" [innerHtml]="'HOME.CAR_01b' | translate"></span><br>
                    <span style="font-weight: bolder; font-size: 25px; color: #000000; font-family: STC-Bold;">{{ 'HOME.CAR_01' | translate }}</span>
                </div>
             
            </div>
          </li>
          <li class="list-wrapper">
            
            <div class="uk-position-center uk-position-small uk-text-center uk-light">
                <div class="vector">
                    <img class="icon" style="padding: 39px;
                    margin-top: -80px;
                    margin-bottom: 50px;
                    width: 260px;
                    " src="assets/images/1GB.jpg" alt=""/>
                  </div>
                  <div uk-slideshow-parallax="x: 100,0,0" class="current-prize-fond">
                    <span style="font-weight: bold; font-size: 18px; color: rgb(0, 0, 0); line-height: 0px;" [innerHtml]="'HOME.CAR_02' | translate"></span><br>
                    <span style="font-weight: bolder; font-size: 25px; color: #000000; font-family: STC-Bold;">{{ 'HOME.CAR_02b' | translate }}</span>
                </div>
             
            </div>
          </li>
          <li class="list-wrapper">
        
            <div class="uk-position-center uk-position-small uk-text-center uk-light">
                <div class="vector">
                    <img class="icon" style="padding: 39px;
                    margin-top: -80px;
                    margin-bottom: 50px;
                    width: 260px;
                    " src="assets/images/2GB.jpg" alt=""/>
                  </div>
                  <div uk-slideshow-parallax="x: 100,0,0" class="current-prize-fond">
                    <span style="font-weight: bold; font-size: 18px; color: rgb(0, 0, 0); line-height: 0px;" [innerHtml]="'HOME.CAR_03' | translate"></span><br>
                    <span style="font-weight: bolder; font-size: 25px; color: #000000; font-family: STC-Bold;">{{ 'HOME.CAR_03b' | translate }}</span>
                </div>
             
            </div>
          </li>
          <li class="list-wrapper">
            
            <div class="uk-position-center uk-position-small uk-text-center uk-light">
                <div class="vector">
                    <img class="icon" style="padding: 39px;
                    margin-top: -80px;
                    margin-bottom: 50px;
                    width: 260px;
                    " src="assets/images/3GB.jpg" alt=""/>
                  </div>
                  <div uk-slideshow-parallax="x: 100,0,0" class="current-prize-fond">
                    <span style="font-weight: bold; font-size: 18px; color: rgb(0, 0, 0); line-height: 0px;" [innerHtml]="'HOME.CAR_04' | translate"></span><br>
                    <span style="font-weight: bolder; font-size: 25px; color: #000000; font-family: STC-Bold;">{{ 'HOME.CAR_04b' | translate }}</span>
                </div>
             
            </div>
          </li>
          
        </ul>
    
        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center "></ul>
      </div>
 
</div>
  
  
  
  <!--PLAY BUTTONS-->
  <div class="buttons-container uk-container uk-text-center" *ngIf="loggedin && !servicesOpened" tabindex="-1">
    <!-- <div class="message-container" style="margin-top: 100px">
      <p style="font-size: 22px;color: rgb(255, 255, 255);text-align: center;">Please enter the 4-digit PIN code received to your mobile</p>
      
    </div> -->
    <div class="buttons-container uk-container uk-text-center"  style="max-width: 595px; margin-bottom: 50px;">
      
      <!-- <h4 style="color:white;">Insert your phone number and password to login</h4> -->
    
      <div class="buttons-container uk-container uk-text-center">
        <p  style="font-size: 15px; color: rgb(0, 0, 0);">{{ 'HOME.MESSAGE' | translate }}</p>
        <!-- <button class="uk-button uk-button-default play-button uk-width-1-1" *ngIf="loggedin &&  this.sessionService.hasCredit() && _gamesPlayed < 4" (click)="startGame()">{{ 'HOME.PLAY' | translate }}</button>  -->
        <button class="uk-button uk-button-default play-button uk-width-1-1" *ngIf="loggedin && gamesPlayedToday < 1" (click)="startGame()">{{ 'HOME.PLAY' | translate }}</button> 
        <!-- <button class="uk-button uk-button-default play-button uk-width-1-1" *ngIf="loggedin &&  !this.sessionService.hasCredit() && _gamesPlayed < 4" (click)="OpenOTPPurchase()">{{ 'HOME.BUY' | translate }}</button> -->
        <!-- <button class="uk-button uk-button-default uk-width-1-1" *ngIf="loggedin && gamesPlayedToday >= 1"  disabled>{{ 'HOME.NOMORE' | translate }}</button> -->
      </div>
      <div *ngIf="loggedin && gamesPlayedToday >= 1 && !this.hasDoubledToday && !bannersSet2" class="buttons-container uk-container uk-text-center" class="list-wrapper2">
        <p style="text-align: center; color: rgb(0, 0, 0); font-size: large; font-weight: bold; font-family: STC-Bold;">{{ 'HOME.DOUBLE' | translate }}</p>
        <button *ngIf="this.winnersElig" style = "background: url(assets/images/winners_small.jpg) 5px 5px no-repeat; background-color: white;" class="uk-button2 play-button2 uk-width-1-1 uk-modal-close"  (click)="OpenWinners()">{{ 'HOME.WINNERS' | translate }}</button>
        <button *ngIf="this.sportsElig" style = "background: url(assets/images/sports_small.jpg) 5px 5px no-repeat;background-color: white;" class="uk-button2 play-button2 uk-width-1-1 uk-modal-close"  (click)="OpenSports()">{{ 'HOME.SPORTS' | translate }}</button>
        <button *ngIf="this.horosElig" style = "background: url(assets/images/horoscopes_small.jpg) 5px 5px no-repeat; background-color: white;" class="uk-button2 play-button2 uk-width-1-1 uk-modal-close"  (click)="OpenHoroscopes()">{{ 'HOME.HOROSC' | translate }}</button>
      </div>
      
  <!--BANNERS SET 2-->
      <div class="slideshow-container" *ngIf="loggedin && gamesPlayedToday >= 1 && !this.hasDoubledToday && bannersSet2" uk-slideshow="animation: fade; min-height: 250; max-height: 250; autoplay: true; autoplay-interval: 3000; pause-on-hover: false;" >

        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
          <br>
          <p style="text-align: center; color: rgb(0, 0, 0); font-size: large; font-weight: bold; font-family: STC-Bold;">{{ 'HOME.DOUBLE' | translate }}</p>
            <ul class="uk-slideshow-items" >   
              <li class="list-wrapper3" *ngIf="this.winnersElig">
            
                <div class="uk-position-center uk-position-small uk-text-center uk-light">
                    <div class="vector">
                        <img class="icon" style="width: 400px;" src="assets/images/stcwinners_banner_small.jpg" alt=""/>
                        <button class="play-button3 uk-width-1-1"  (click)="OpenWinners()">{{ 'HOME.SUB' | translate }}</button>
                      </div>
                      <!-- <div uk-slideshow-parallax="x: 100,0,0" class="current-prize-fond">
                        <span style="font-weight: bold; font-size: 18px; color: rgb(0, 0, 0); line-height: 0px;" [innerHtml]="'HOME.CAR_01b' | translate"></span><br>
                        <span style="font-weight: bolder; font-size: 25px; color: #000000; font-family: STC-Bold;">{{ 'HOME.CAR_01' | translate }}</span>
                    </div> -->
                 
                </div>
              </li>
              <li class="list-wrapper3" *ngIf="this.sportsElig">
            
                <div class="uk-position-center uk-position-small uk-text-center uk-light">
                    <div class="vector">
                        <img class="icon" style="width: 400px;" src="assets/images/stcsports_banner_small.jpg" alt=""/>
                        <button  class="play-button3 uk-width-1-1"  (click)="OpenSports()">{{ 'HOME.SUB' | translate }}</button>
                      </div>
                      <!-- <div uk-slideshow-parallax="x: 100,0,0" class="current-prize-fond">
                        <span style="font-weight: bold; font-size: 18px; color: rgb(0, 0, 0); line-height: 0px;" [innerHtml]="'HOME.CAR_01b' | translate"></span><br>
                        <span style="font-weight: bolder; font-size: 25px; color: #000000; font-family: STC-Bold;">{{ 'HOME.CAR_01' | translate }}</span>
                    </div> -->
                 
                </div>
              </li>
              <li class="list-wrapper3" *ngIf="this.horosElig">
            
                <div class="uk-position-center uk-position-small uk-text-center uk-light">
                    <div class="vector">
                        <img class="icon" style="width: 400px;" src="assets/images/stchoroscopes_banner_small.jpg" alt=""/>
                        <button  class="play-button3 uk-width-1-1"  (click)="OpenHoroscopes()">{{ 'HOME.SUB' | translate }}</button>
                      </div>
                      <!-- <div uk-slideshow-parallax="x: 100,0,0" class="current-prize-fond">
                        <span style="font-weight: bold; font-size: 18px; color: rgb(0, 0, 0); line-height: 0px;" [innerHtml]="'HOME.CAR_01b' | translate"></span><br>
                        <span style="font-weight: bolder; font-size: 25px; color: #000000; font-family: STC-Bold;">{{ 'HOME.CAR_01' | translate }}</span>
                    </div> -->
                 
                </div>
              </li>
             
            </ul>

          </div>
     
      </div>
  <!-- END of BANNERS SET 2-->

      <button class="uk-button uk-button-default uk-width-1-1" *ngIf="loggedin && gamesPlayedToday >= 1 && this.hasDoubledToday"  disabled>{{ 'HOME.NOMORE' | translate }}</button>
      
    </div>
    </div>
  <!--END OF PLAY BUTTONS-->
  
  <div id="winners" class="uk-flex-top"  uk-modal>
    <!--Top Text-->
    <div class="uk-modal-dialog2 uk-modal-body uk-margin-auto-vertical">
      <h4 style="color: aliceblue;
      text-align: center;
      padding: 20px;
      font-size: 29px;
      font-weight: bold;
      text-shadow: 0px 9px 6px rgba(0, 0, 0, 0.52), 0 0 4px rgba(0, 0, 0, 0.59);">stc Winners Club</h4>
      
      
      <br>
      <p style="text-align: center; color: white; font-size: large; font-weight: bold;">{{ 'SERVICES.MAINTEXT' | translate }}</p>
      <br><br>
      <h4 style="color:white;font-size: medium; text-align: center;">{{ 'SERVICES.MESSAGE' | translate }}</h4> 
      <form >
        <div class="uk-margin" >
            <div class="uk-inline uk-width-1-1 ">
                <span class="uk-form-icon" uk-icon="icon: phone; ratio: 1.5"></span>
                <input #number class="uk-input uk-border-rounded" type="text" placeholder="{{ 'HOME.NUM' | translate }}"> 
            </div>
        </div>
      </form>
      <button  class="uk-button uk-button-default play-button uk-width-1-1 uk-modal-close"   (click)="SubWinners()">{{ 'SERVICES.SUBSCRIBE' | translate }}</button>
      <p style="text-align: center; color: white; font-size: small; font-weight: bold;">{{ 'SERVICES.UNDER_WINNERS' | translate }}</p>
      
      <app-button [link_button]="true" [link_button_white]="true" class="uk-modal-close" style="position: fixed;
      left: 50%;
      bottom: -35px;
      transform: translate(-50%, -50%);
      margin: 0 auto;
      width: 100%;" (click)="returnHome()">{{ 'END.BACK' | translate }}</app-button>
    </div>
  </div>
  
  <div id="horoscopes" class="uk-flex-top"  uk-modal>
    <!--Top Text-->
    <div class="uk-modal-dialog2 uk-modal-body uk-margin-auto-vertical">
      <h4 style="color: aliceblue;
      text-align: center;
      padding: 20px;
      font-size: 29px;
      font-weight: bold;
      text-shadow: 0px 9px 6px rgba(0, 0, 0, 0.52), 0 0 4px rgba(0, 0, 0, 0.59);">stc Horoscopes</h4>
      
      
      <br>
      <p style="text-align: center; color: white; font-size: large; font-weight: bold;">{{ 'SERVICES.MAINTEXT' | translate }}</p>
      <br><br>
      <h4 style="color:white; font-size: medium; text-align: center;">{{ 'SERVICES.MESSAGE' | translate }}</h4> 
      <form >
        <div class="uk-margin" >
            <div class="uk-inline uk-width-1-1 ">
                <span class="uk-form-icon" uk-icon="icon: phone; ratio: 1.5"></span>
                <input #number class="uk-input uk-border-rounded" type="text" placeholder="{{ 'HOME.NUM' | translate }}"> 
            </div>
        </div>
      </form>
      <button  class="uk-button uk-button-default play-button uk-width-1-1 uk-modal-close"   (click)="SubHoroscopes()">{{ 'SERVICES.SUBSCRIBE' | translate }}</button>
      <p style="text-align: center; color: white; font-size: small; font-weight: bold;">{{ 'SERVICES.UNDER_HOROSCOPES' | translate }}</p>
      
      <app-button [link_button]="true" [link_button_white]="true" class="uk-modal-close" style="position: fixed;
      left: 50%;
      bottom: -35px;
      transform: translate(-50%, -50%);
      margin: 0 auto;
      width: 100%;" (click)="returnHome()">{{ 'END.BACK' | translate }}</app-button>
    </div>
  </div>
  
  <div id="sports" class="uk-flex-top"  uk-modal>
    <!--Top Text-->
    <div class="uk-modal-dialog2 uk-modal-body uk-margin-auto-vertical">
      <h4 style="color: aliceblue;
      text-align: center;
      padding: 20px;
      font-size: 29px;
      font-weight: bold;
      text-shadow: 0px 9px 6px rgba(0, 0, 0, 0.52), 0 0 4px rgba(0, 0, 0, 0.59);">stc Sports Club</h4>
      
      
      <br>
      <p style="text-align: center; color: white; font-size: large; font-weight: bold;">{{ 'SERVICES.MAINTEXT' | translate }}</p>
      <br><br>
      <h4 style="color:white;font-size: medium;text-align: center;">{{ 'SERVICES.MESSAGE' | translate }}</h4> 
      <form >
        <div class="uk-margin" >
            <div class="uk-inline uk-width-1-1 ">
                <span class="uk-form-icon" uk-icon="icon: phone; ratio: 1.5"></span>
                <input #number class="uk-input uk-border-rounded" type="text" placeholder="{{ 'HOME.NUM' | translate }}"> 
            </div>
        </div>
      </form>
      <button  class="uk-button uk-button-default play-button uk-width-1-1 uk-modal-close"   (click)="SubSports()">{{ 'SERVICES.SUBSCRIBE' | translate }}</button>
      <p style="text-align: center; color: white; font-size: small; font-weight: bold;">{{ 'SERVICES.UNDER_SPORTS' | translate }}</p>
      
      <app-button [link_button]="true" [link_button_white]="true" class="uk-modal-close" style="position: fixed;
      left: 50%;
      bottom: -35px;
      transform: translate(-50%, -50%);
      margin: 0 auto;
      width: 100%;" (click)="returnHome()">{{ 'END.BACK' | translate }}</app-button>
    </div>
  </div>
  
    <div id="otp" class="uk-flex-top" uk-modal>
      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <div class="buttons-container uk-container uk-text-center" tabindex="-1">
          <div class="message-container" style="margin-top: 100px">
            <p style="font-size: 22px;color:  rgb(32, 32, 32);text-align: center;">{{ 'HOME.OTP' | translate }}</p>
            <!--<p>Услуга оказывается МТС совместно с партнером «ДжЮ Груп»</p>-->
          </div>
          <div class="buttons-container uk-container uk-text-center"  style="max-width: 595px; margin-bottom: 0px;">
            
            <!-- <h4 style="color:white;">Insert your phone number and password to login</h4> -->
            <form >
              <div class="uk-margin" >
                  <div class="uk-inline uk-width-1-1 ">
                      <a class="uk-form-icon uk-form-icon-flip" ><img class=".uk-position-right" (click)="OpenPass()" src="assets/icons/eye.svg" alt=""></a>
                      
                      <input #pin class="uk-input " type="{{passType}}" placeholder="....">
                  </div>
              </div>
            </form>
            
            <div class="buttons-container uk-container uk-text-center">
              <p *ngIf="verErrorMes" style="font-size: 12px; color: rgb(32, 32, 32);">{{ 'HOME.VERERROR' | translate }}</p>
              <button class="uk-button uk-button-default play-button uk-width-1-1 "  (click)="verify(pin.value)">{{ 'HOME.CONFIRM' | translate }}</button> 
              <!-- <button class="uk-button uk-button-default play-button uk-width-1-1" *ngIf="!sessionService.isSubscribed" (click)="purchaseCredit()">{{ 'HOME.BUY' | translate }}</button> -->
            </div>
            <div class="message-container" style="margin-top: 0px;">
              <!-- <p style="color:rgb(0, 0, 0); font-weight: bold; font-size: 20px;"><a (click)="resetPin()" style="color: rgb(32, 32, 32); text-decoration: underline;">{{ 'HOME.RESEND' | translate }}</a> -->
              <!-- </p> -->
              <!--<p>Услуга оказывается МТС совместно с партнером «ДжЮ Груп»</p>-->
            </div>
            
          </div>
          </div>
      
        </div>
    </div>

    <div id="error" class="uk-flex-top" uk-modal>
      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <img src="assets/images/wanted.svg" alt="">
        <h4>{{ 'END.MES_01' | translate }}</h4>
      <pre>{{ 'MESSAGES.MESSAGE_16' | translate }}</pre>
      <!--<p>{{errorMsg}}</p>-->
      <!-- <app-button *ngIf="!logOutBtn" [link_button]="true" class="uk-modal-close">{{ 'MESSAGES.MESSAGE_07' | translate }}</app-button> -->
      
      <app-button  [link_button]="true" class="uk-modal-close" (click)="returnHome()">{{ 'MESSAGES.MESSAGE_15' | translate }}</app-button>
        
      </div>
    </div>

  
